<?xml version="1.0" encoding="UTF-8"?>
<hotteststate>
<!-- This is a comment <photo phototype="movie">HS02039.jpg</photo>

<photo phototype="movie">HS01047.jpg</photo>
<photo phototype="movie">DSC09643_RT.jpg</photo>
<photo phototype="movie">HS04128.jpg</photo>
<photo phototype="movie">HS03046.jpg</photo>
<photo phototype="movie">HS09007.jpg</photo>

<photo phototype="movie">HS11007.jpg</photo>

<photo phototype="movie">HS03025.jpg</photo>

<photo phototype="movie">81790004.jpg</photo>
<photo phototype="artist">Emmylou-Harris.jpg</photo>
<photo phototype="v">Bright-Eyes.jpg</photo>
<photo phototype="artist">JesseHarris.jpg</photo>
<photo phototype="artist">Norah-Jones.jpg</photo>
<photo phototype="artist">Willie-Nelson.jpg</photo>

<photo phototype="artist">Brad-Mehldau.jpg</photo>
<photo phototype="artist">MWard.jpg</photo>
<photo phototype="artist">Cat-Power.jpg</photo>
<photo phototype="artist">The-Black-Keys.jpg</photo>
<photo phototype="artist">Tony-Scherr.jpg</photo>
<photo phototype="artist">Feist.jpg</photo>
<photo phototype="artist">Rocha.jpg</photo>
-->

<photo phototype="movie">THS_9065.jpg</photo>
<photo phototype="movie">THS_8064.jpg</photo>
<photo phototype="movie">THS_6062.jpg</photo>
<photo phototype="movie">HS11016.jpg</photo>
<photo phototype="movie">HS09007.jpg</photo>
<photo phototype="movie">HS01044.jpg</photo>

<photo phototype="movie">THS_2058.jpg</photo>
<photo phototype="movie">HS14028.jpg</photo>
<photo phototype="movie">HS06055.jpg</photo>
<photo phototype="movie">HS06016.jpg</photo>
<photo phototype="movie">DSC09643_RT.jpg</photo>
<photo phototype="movie">stairs.jpg</photo>


</hotteststate>
